<!--{% load static %}-->
<footer>
    Кол-во пдключений к сервису всего: {{num_visits}}
    <div class="wrapper">
      <ul id="icons">
        <li><a href="#" class="normaltip"><img src="{% static 'images/icon1.jpg'%}" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="{% static 'images/icon2.jpg'%}" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="{% static 'images/icon3.jpg'%}" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="{% static 'images/icon4.jpg'%}" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="{% static 'images/icon5.jpg'%}" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="{% static 'images/icon6.jpg'%}" alt=""></a></li>
      </ul>
      <div class="links">Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
        Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
    </div>
  </footer>