<!--{% load static %}-->
<header>
    <div class="wrapper">
      <h1><a href="index.html" id="logo">AirLines</a></h1>
      <span id="slogan">Fast, Frequent &amp; Safe Flights</span>
      <nav id="top_nav">
<!--        <ul>-->
<!--          <li><a href="index.html" class="nav1">Home</a></li>-->
<!--          <li><a href="#" class="nav2">Sitemap</a></li>-->
<!--          <li><a href="contacts.html" class="nav3">Contact</a></li>-->
<!--        </ul>-->
      </nav>
    </div>
    <nav>
      <ul id="menu">
        <li id="menu_active"><a href="/"><span><span>Main</span></span></a></li>
        <li><a href="about/"><span><span>About</span></span></a></li>
        <li class="end"><a href="contacts/"><span><span>Contacts</span></span></a></li>
      </ul>
    </nav>
  </header>